@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Macondo&family=Niconne&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animation: all 0.3s linear;
}

body {
  background-color: aliceblue;
  font-family: "Open sans";
}
.section-center{
   width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}
.gift-img img {
  width: 100%;
  box-shadow: 2px 2px 10px  rgba(0,0,0,0.8);
  border-radius: 1rem;
}

.gift-img {
  text-align: center;
  margin-bottom: 2rem;
}

.gift-info h3 {
  text-transform: uppercase;
  color: slateblue;
  font-weight: bold;
  font-family: 'roboto';
  font-size: 1.5rem;
  letter-spacing:2px;
  word-spacing: 0.4rem;
}

.gift-info p {
  color: rgb(51, 62, 95);
 
}
.giveaway{
  text-transform: capitalize;
  margin-top: 0.3rem;
  letter-spacing: 0.25rem;
}
.date {
  color: coral;
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}
.gift-info p{
  margin: 2rem 0;
}
.deadline{
  display: flex;
}
.deadline-format{
  background-color: slateblue;
  color: whitesmoke;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span{
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired){
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}
