body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(135deg, #778f9c 0%, #b8dbd9 82%, #586f7c 0%);
}

.menu {
  background-color: rgb(255, 255, 255, 0.3);
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  color: #4d5d66;
  font-size:19px;
   border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  box-shadow: 1px 1px 5px rgb(255, 255, 255, 0.6),
    -2px -3px 7px rgb(0, 0, 0, 0.4);
}

.menu .fa-solid{
 transition: transform .2s ;
}

.menu p {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.social-lists {
  background-color: rgb(255, 255, 255, 0.3);
  color: #4d5d66;
  width: 300px;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0.6px 1px 5px rgb(255, 255, 255, 0.7),
    -2px -3px 7px rgb(0, 0, 0, 0.4);
}



.social-lists li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s  linear;
    
}


.social-lists li:hover {
  background: rgb(88, 111, 124, 0.3);
  border-radius: 8px;
  padding-left: 10px;
}

.fa-brands {
  margin: 0px 10px;
}

.rotate .fa-solid {
  transform: rotate(180deg);
}

.hide {
 
 visibility: hidden;
}